{% extends 'main.html'%}
{% block content%}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}

        <label for="username">username: </label>
        <input type="text" placeholder="Enter username" name="username">
        <label for="password">password: </label>
        <input type="password" placeholder="Enter password" name="password">

        <input type="submit" name="Login" value="Login">
    </form>
    <h4>havent sign up yet !!</h4>
    <a href="{% url 'register'%}">Register</a>
</div>
{% else %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" name="Register"">
    </form>
</div>
{% endif %}


{% endblock content%}